@CHARSET "UTF-8";

* {
	font-family: Arial;
	background: white;
}

#login_div {
	background-color: blue;
	border: 5px solid blue;
	margin: 10% 30% 30% 30%;
	box-shadow: 0px 0px 10px black;
	text-align: center;
}

h3 {
	font-family: Verdana;
}

.inputLogin {
	height: 20px;
	width: 100%;
}

.header {
	background-color: blue;
	border: 3px solid black;
}