@CHARSET "UTF-8";

* {
	font-family: Lato, Arial;	
	
}

h1 {
	color: green;
}
#login_div {
	border: 5px solid #A0A0A0;
	margin: 10% 30% 30% 30%;
	box-shadow: 0px 0px 10px #00FF00;
	text-align: center;
}
.inputLogin {
	height: 20px;
	width: 100%;
}

#profile {
	margin:3% 3% 3% 3%;
}

.header {
	position: static;	
    text-align: center;
    text-decoration:none;
    width: 100%;
    border-bottom: 1px solid #96e990;
    box-shadow: 0 4px 2px -2px #96e990;
}
.header a {
	text-decoration:none;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	background: #ffffff;  
	list-style: none;
	position: relative;
	display: table;
	width: 100%;
}
nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

@media only screen and (max-width : 400px) {
    ul li { 
        display:block;
        float:none;
    }
}

nav ul li {
	float: left;
	position: relative;
}
nav ul li:hover {
	background: #96e990;
}
nav ul li:hover a {
	color: #fff;
}	
nav ul li a {
	display: block; 
	padding: 25px 40px;
	color: #757575; 
	text-decoration: none;
}
nav ul ul {
	background: #5f6975; 
	position: absolute; 
	top: 100%;
}
nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #4b545f;
}


